.task {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.task__header {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  flex-shrink: 0;
  background-color: aquamarine;
}

.task__header button {
  padding: 4px 10px;
}

.task__description {
  padding: 8px 10px;
}
